:root {
    --Soft-Magenta: hsl(300, 69%, 71%);
    --Violet: hsl(257, 40%, 49%);
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
}

html body {
    background-color: var(--Violet);
    background-image: url(images/bg-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* header style */
header {
    margin: 10%;
}

.logo {
    width: 50%;
}

/* section style */
.flex-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.mockups {
    margin: 2rem 0;
    width: 100%;
}

h1 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
}

section, footer {
    text-align: center;
}

button {
    cursor: pointer;
    width: 15em;
    height: 3em;
    border-radius: 50px;
    outline: none;
    background-color: white;
    border: none;
    color: var(--Violet);
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: color 0.3s ease, background-color 0.3s ease;
}

button:hover, button:focus {
    background-color: var(--Soft-Magenta);
    color: white;
}

/* icons style */

.icons {
    margin: 3em 0 2em;
}

svg {
    fill: white;
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50px;
    padding: 8px;
    margin: 5px;
    transition: border-color 0.3s ease, fill 0.3s ease;
}

svg:hover, svg:focus {
    fill: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}

a {
    text-decoration: none;
}

/* footer style */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
}

.attribution a:hover {
    font-size: 12px;
    opacity: 70%;
}

@media only screen and (min-width: 800px) {
    :root {
        font-size: 200%;
    }

    button {
        font-size: 80%;
    }
}

@media only screen and (min-width: 1000px) {

    :root {
        font-size: 120%;
    }

    html body {
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
        height: 100vh;
    }

    /* header */
    .logo {
        width: 18%;
    }

    header {
        margin: 3% 10% 0%;
    }

    /* main container */
    body {
        display: flex;
        height: 100vh;
        align-items: center;
    }

    .main-container {
        max-width: 1700px;
        width: 100vw;
        margin: auto;
    }

    .flex-container {
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    section {
        text-align: unset;
    }

    .mockups {
        flex: 3;
        padding-right: 6%;
    }

    .flex-div {
        flex: 2;
    }

    /* footer */
    .icons {
        text-align: right;
        margin: 0 10% ;
    }

}